<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/oAuthGoogleClassroom" version="1.0.0" viewmodes="maximized">
    <tizen:application id="dyGOQ75U3m.oAuthGoogleClassroom" package="dyGOQ75U3m" required_version="2.3.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>oAuthGoogleClassroom</name>
    <tizen:profile name="wearable"/>
</widget>
