<!--<button (click)="onAddStudent()" class="btn btn-primary">Testing</button>
<p>
  students works! there are {{ studentsCount }} students
</p>-->
<p-growl [(value)]="msgs"></p-growl>
<h2>Courses</h2>
<p-dataTable [value]="courses" selectionMode="single" [(selection)]="selectedCourse" dataKey="id" (onRowSelect)="onRowSelect($event)">
  <p-column field="id" header="id"></p-column>
  <p-column field="name" header="name"></p-column>
</p-dataTable>
<h2>Students in Selected Course</h2>
<p-dataTable [value]="students" selectionMode="single" [(selection)]="selectedStudent">
  <p-column field="profile.id" header="id"></p-column>
  <p-column field="profile.name.fullName" header="name"></p-column>
</p-dataTable>
<h2>Watches</h2>
<p-dataTable [value]="watches" selectionMode="single" [(selection)]="selectedWatch">
  <p-column field="id" header="tizen id"></p-column>
  <p-column field="doc.studentId" header="student id"></p-column>
  <p-column field="doc.studentName" header="student name"></p-column>
</p-dataTable>
<button class="btn btn-default" (click)="assignWatchToStudent()" [disabled]="!selectedWatch">Assign</button>
